*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cairo;
}

.font-GFC{
    font-family: Montagu Slab;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
  }